<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0">
    <title>在线客服</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="../js/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/cs.css" />
</head>
<script>

</script>

<body>
    <div class="customer-wrapper">
        <img src="../customer.png" alt=" " class="customer"/>
        <div class="txt mb5">长按保存图片</div>
        <div class="txt">添加您的专属客服</div>
    </div>
</body>
<script>
</script>

</html>